


<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>OIL COL - Jefe de Campo</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet"  href="bootstrap ">

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

    <!-- Plugin CSS -->
    <link rel="stylesheet"  href="font-awesome-min ">
    <link rel="stylesheet"  href="simple-line">
    <link rel="stylesheet"  href="mockups-min">



    <!-- Theme CSS -->
    <link rel="stylesheet"  href="newage">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>

    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">

<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">Jefe de Campo</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="/">HOME</a>
                </li>


            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>






<section id="download" class="download bg-primary text-center">
    <div class="container" ng-app="showApp" ng-controller="mainController">
        <div class="control-group form-group">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
            <h2 class="section-heading h2">Bienvenido Jefe de Campo</h2><br>
            </div>
                </div>



        <div class="row">
            <div class="col-md-9 ">

                <h1>Funciones</h1>

                <br>
                <br>
                <br>
                <button class="btn btn-warning" ng-click="reportes = !reportes">GENERAR REPORTES</button>
                <button class="btn btn-warning"  ng-click="pozos = !pozos">PARAR POZO</button>
                <button class="btn btn-warning"  ng-click="emergencia = !emergencia">NOTIFICAR EMERGENCIA</button>
                <button class="btn btn-warning"  ng-click="mapa = !mapa">MAPA</button>

                <br>
                <br>
                <br>

            </div>
                        <div class="col-md-3" >


                    <h3 align="center" class="alert">Notificacion de Emergencias</h3>
                    <ul id="emer"></ul>

                </div>



        </div>
            <div class="row"  ng-show="reportes">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="section-heading">Generar reportes</h1>
                    <form action="reportes" method="post">
                        <table>
                            <tr>
                                <label >Descripcion</label> </tr> <tr><input type="text" class="form-control"  name="descripcion" /><br>
                        </tr>
                            <tr>
                                <label>ID sensor</label> </tr> <tr><input type="text" class="form-control" name="idSensor" required data-validation-required-message="Ingrese un Id" /><br>
                        </tr>
                            <tr>
                                <label >Contraseña Sensor</label></tr> <tr> <input type="password" class="form-control" name="contrasenaSensor"  required data-validation-required-message="Ingrese contraseña"/><br>
                        </tr>
                            <tr>
                                <label>ID Pozo</label></tr> <tr> <input type="text"  class="form-control"name="idPozo" required data-validation-required-message="Ingrese un Id"/><br>
                        </tr>
                            <tr>
                                <label>Tipo Sensor</label> </tr> <tr><input type="text" class="form-control" name="tipoSensor" required data-validation-required-message="Ingrese un tipo de sensor" /><br>
                        </tr>

                            <tr>


                                <button   class="btn btn-primary" >Crear reporte</button>
                            </tr>
                        </table>
                    </form>
                </div>

            </div>


            <div class="row" ng-show="pozos">
                <div class="col-md-5 col-md-offset-2 ">
            <h1 class="section-heading">Parar un pozo</h1>

                <table>
                    <tr>
                        <label >ID POZO</label> </tr> <tr><input  class="form-control" type="text"  id="elid"  required data-validation-required-message="Ingrese un Id"/><br>
                </tr>
                    <tr>
                        <div class="control-group form-group">
                            <div class="controls">
                        <label >Estado</label>
                        <select name="estado" class="form-control" id="cambioestado">
                        <option>Parado</option>
                        <option>Produccion</option>

                    </select><br>
                                </div>
                            </div>
                    </tr>
                    <tr>


                        <button  class="btn btn-primary" onclick="cambiarEstado()">Parar Pozo</button>
                    </tr>
                </table>
</div>
        </div>
        <div class="row" ng-show="emergencia">
            <div class="col-md-5 col-md-offset-2 ">
            <h1 class="section-heading">Notificar Emergencia</h1>

            <table>
                <tr>
                    <form action="jefeC" method="GET">
                      <input id="newEm"type="text" class="form-control" name="emergencia" required data-validation-required-message="Ingrese una emergencia " />
                        <br>
                        <button   class="btn btn-primary" onclick="addEmer()" >add emergencia</button>
                    </form>
                </tr>


            </table>
        </div>
        </div>
            <div class="row">
        <div ng-show="mapa" class="col-md-5 col-md-offset-2" id="map1" style="width:360px;height:200px;"></div>
            </div>
    </div>
        </div>
</section>
<footer>
    <div class="container">
        <p>&copy; 2016 Start Bootstrap. All Rights Reserved.</p>
        <ul class="list-inline">
            <li>
                <a href="#">Privacy</a>
            </li>
            <li>
                <a href="#">Terms</a>
            </li>
            <li>
                <a href="#">FAQ</a>
            </li>
        </ul>
    </div>
</footer>

<!-- jQuery -->
<script src="jquery-min" ></script>
<!-- Bootstrap Core JavaScript -->
<script src="bootstrap-min" ></script>
<!-- Plugin JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<!-- Theme JavaScript -->
<script src="new-age" ></script>

<script src="jefec" ></script>

<script type="text/javascript"
        src="http://www.google.com/jsapi?key=AIzaSyBLuP2-4pNknjf50P8CZ1j75RDYugS6Ak0"></script>
<script type="text/javascript">
    //<![CDATA[
    google.load('maps', '2', {callback:simple});var map;
    function simple(){
        if (GBrowserIsCompatible()) {
            var map = new GMap2(document.getElementById("map1"));
            map.setCenter(new GLatLng(4.602419,-74.065601), 4);}}
    window.onload=function(){simple();}
//]]>
</script>
<script>

    function cambiarEstado() {

        var estahttp = new XMLHttpRequest();
        var elid = document.getElementById("elid").value;
        var estado = document.getElementById("cambioestado").value;
        var esta = "/cpozos/" + elid + "/"+ estado;
        estahttp.open("GET", esta, true);
        estahttp.send();


    }


    function addEmer(){

        var holi = new XMLHttpRequest();
        var pa = "/sensoresEmergencia ";

        var elid = document.getElementById("newEm").value;
        holi.open("POST", pa );
        holi.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
        holi.send(JSON.stringify({id:"", emergencia: elid }));
    }




    var emerhttp = new XMLHttpRequest();
    var emer = "/sensoresEmergencia ";
    emerhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            var myArr = JSON.parse(this.responseText);
            myEmer(myArr);
        }
    };

    emerhttp.open("GET", emer, true);
    emerhttp.send();


    function myEmer(arr) {
        var out = "";
        var i;
        for(i = 0; i < arr.length; i++) {
            out += '<li> Emergencia '+arr[i].id+' -> ' + arr[i].emergencia ;
        }
        document.getElementById("emer").innerHTML = out;
    }
</script>

</body>

</html>


