@(message:String)

@main("Welcome to Play") {


<h1 align="center">BIENVENIDO </h1>
<h2 align="center">CREAR</h2>
<form action="@routes.CaudalController.createCaudal()" method="post">
    <label>caudal</label>
    <input type="text" name="caudal"/>
    <button>add caudal</button>
</form>
</br>
<form action="@routes.CampoController.createCampo()" method="post">
   <label>departamento</label> <input type="text" name="departamento" />
    <label>latitud</label> <input type="text" name="latitud" />
    <label>longitud</label> <input type="text" name="longitud" />

    <button>add campo</button>
</form>
</br>
<form action="@routes.ConsumoEnergiaController.createConsumoEnergia()" method="post">
    <label>consumo</label> <input type="text" name="consumo" />


    <button>add Consumo Energia</button>

</form>
</br>
<form action="@routes.JefeAsignadoController.createJefeAsignado()" method="post">
    <label>nombre</label> <input type="text" name="nombre" />
    <label>cedula</label> <input type="text" name="cedula" />
    <label>edad</label> <input type="text" name="edad" />
    <label>telefono</label> <input type="text" name="telefono" />
    <label>direccion</label> <input type="text" name="direccion" />
    <label>nacionalidad</label> <input type="text" name="nacionalidad" />


    <button>add JefeAsignado</button>
</form>
</br>
<form action="@routes.JefeDeCampoController.createJefeDeCampo()" method="post">
    <label>nombre</label> <input type="text" name="nombre" />
    <label>cedula</label> <input type="text" name="cedula" />
    <label>edad</label> <input type="text" name="edad" />
    <label>telefono</label> <input type="text" name="telefono" />
    <label>direccion</label> <input type="text" name="direccion" />
    <label>nacionalidad</label> <input type="text" name="nacionalidad" />


    <button>add Jefe De Campo</button>
</form>
</br>
<form action="@routes.PozoController.createPozo()" method="post">
    <label>estado</label> <input type="text" name="estado" />
    <label>latitud</label> <input type="text" name="latitud" />
    <label>longitud</label> <input type="text" name="longitud" />

    <button>add pozo</button>
</form>
</br>
<form action="@routes.SensorEmergenciaController.createSensorEmergencia()" method="post">
    <label>Emergencia</label> <input type="text" name="emergencia" />


    <button>add emergencia</button>
</form>
</br>
<form action="@routes.SensorTemperaturaController.createSensorTemperatura()" method="post">
    <label>Temperatura</label> <input type="text" name="temperatura" />


    <button>add temperatura</button>
</form>

<h2 align="center">OBTENER TODOS</h2>

<table align="center">

  <tr>
      <td>
          <h3 align="center">Temperatura</h3>
          <ul id="temp"></ul>

      </td>
      <td>
          <h3 align="center">Caudales</h3>
          <ul id="caudales"></ul>
      </td>

      </td>
      <td>
          <h3 align="center">Emergencias</h3>
          <ul id="emer"></ul>

      </td>
      <td>
          <h3 align="center">Consumo</h3>
          <ul id="consumos"></ul>
      </td>

  </tr>
    <td colspan="2">
        <h3 align="center">Jefes asignado</h3>
        <ul id="Jefea"></ul>
    </td>

    <td colspan="2">
        <h3 align="center">Jefes de Campo</h3>
        <ul id="Jefec"></ul>
    </td>


    </tr>
    <tr><td></td>
        <td>
            <h3 align="center">Pozos</h3>
            <ul id="Pozo"></ul>

        <td>
            <h3 align="center">Campos</h3>
            <ul id="camp"></ul>
        </td>

        <td></td>
    </tr>



</table>
<script>

    var caudalhttp = new XMLHttpRequest();
    var campohttp = new XMLHttpRequest();
    var caudales = "/caudales";
    var campo = "/campos";

    caudalhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            var myArr = JSON.parse(this.responseText);
            myFunction(myArr);

        }
    };

    caudalhttp.open("GET", caudales, true);
    caudalhttp.send();


    function myFunction(arr) {
        var out = "";
        var i;
        for(i = 0; i < arr.length; i++) {
            out += '<li> caudal '+arr[i].id+' -> ' + arr[i].caudal ;
        }
        document.getElementById("caudales").innerHTML = out;
    }




    campohttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            var myArr = JSON.parse(this.responseText);
            myCampos(myArr);
        }
    };

    campohttp.open("GET", campo, true);
    campohttp.send();

    function myCampos(arr) {
        var out = "";
        var i;
        for(i = 0; i < arr.length; i++) {
            out += '<li> campo '+arr[i].id+' -> ' + arr[i].departamento +' lat: '+arr[i].latitud + ' lon: '+arr[i].longitud;
        }
        document.getElementById("camp").innerHTML = out;
    }





    var consumohttp = new XMLHttpRequest();
    var consumos = "/consumoEnergia";
    consumohttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            var myArr = JSON.parse(this.responseText);
            myCons(myArr);
        }
    };

    consumohttp.open("GET", consumos, true);
    consumohttp.send();

    function myCons(arr) {
        var out = "";
        var i;
        for(i = 0; i < arr.length; i++) {
            out += '<li> Consumo Energia '+arr[i].id+' -> ' + arr[i].consumoEnergia ;
        }
        document.getElementById("consumos").innerHTML = out;
    }





    var JefeAhttp = new XMLHttpRequest();
    var fejea = "/jefesAsignado";
    JefeAhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            var myArr = JSON.parse(this.responseText);
            myJefea(myArr);
        }
    };

    JefeAhttp.open("GET", fejea, true);
    JefeAhttp.send();

    function myJefea(arr) {
        var out = "";
        var i;
        for(i = 0; i < arr.length; i++) {
            out += '<li> Jefe Asignado '+arr[i].id+' ->  Nombre:' + arr[i].nombre +' cedula:' + arr[i].cedula+' edad: '+arr[i].edad ;
        }
        document.getElementById("Jefea").innerHTML = out;
    }

    var JefeChttp = new XMLHttpRequest();
    var fejec = "/jefesDeCampo";
    JefeChttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            var myArr = JSON.parse(this.responseText);
            myJefec(myArr);
        }
    };

    JefeChttp.open("GET", fejec, true);
    JefeChttp.send();

    function myJefec(arr) {
        var out = "";
        var i;
        for(i = 0; i < arr.length; i++) {
            out += '<li> Jefe de Campo '+arr[i].id+' ->  Nombre: ' + arr[i].nombre +' cedula:' + arr[i].cedula+' edad: '+arr[i].edad ;
        }
        document.getElementById("Jefec").innerHTML = out;
    }


    var pozohttp = new XMLHttpRequest();
    var pozo = "/pozos";
    pozohttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            var myArr = JSON.parse(this.responseText);
            myPozo(myArr);
        }
    };

    pozohttp.open("GET", pozo, true);
    pozohttp.send();

    function myPozo(arr) {
        var out = "";
        var i;
        for(i = 0; i < arr.length; i++) {
            out += '<li> Pozo '+arr[i].id+' ->  Estado:' + arr[i].estado +' lat: '+arr[i].latitud + ' lon: '+arr[i].longitud;
        }
        document.getElementById("Pozo").innerHTML = out;
    }




    var emerhttp = new XMLHttpRequest();
    var emer = "/sensoresEmergencia ";
   emerhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            var myArr = JSON.parse(this.responseText);
            myEmer(myArr);
        }
    };

    emerhttp.open("GET", emer, true);
    emerhttp.send();

    function myEmer(arr) {
        var out = "";
        var i;
        for(i = 0; i < arr.length; i++) {
            out += '<li> Emergencia '+arr[i].id+' -> ' + arr[i].emergencia ;
        }
        document.getElementById("emer").innerHTML = out;
    }




    var temphttp = new XMLHttpRequest();
    var temp = "/sensoresTemperatura ";
    temphttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            var myArr = JSON.parse(this.responseText);
            myTemp(myArr);
        }
    };

    temphttp.open("GET", temp, true);
    temphttp.send();

    function myTemp(arr) {
        var out = "";
        var i;
        for(i = 0; i < arr.length; i++) {
            out += '<li> Temperatura '+arr[i].id+' -> ' + arr[i].temperatura ;
        }
        document.getElementById("temp").innerHTML = out;
    }


</script>



















}
